:root{
    /* Os "--" se referem a criação de variáveis em CSS, que podem ser usadas com var(nome_variavel)*/

    --color-background: #e6e6e6;
    --color-primary:#2a2a2a;

    --color-background-dark: #1d1d1d;
    --color-background-dark-2: #7855ca;
    --color-background-dark-3: #31015c;
    --color-primary-dark: #D4C2FF;
}

* {
    margin: 0;
    padding: 0;
    color: var(--color-primary-dark);
}

html, body {
    height: 100vh;
}

body {
    background-color: var(--color-background-dark);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 100vw; /* viewport width*/
    height: 100vh; /* viewport height*/    
}