#habits-tracker-grid {
    display: grid;
    grid-template-columns: 2fr repeat(7, 1fr);
    row-gap: 20px;
    text-align: center;
    vertical-align: middle;
}

#new-habit-button {
    cursor: pointer;
    width: 70px;
    height: 70px;
}

div.habit-column {
    font-size: 50px;
    margin: auto;
}

.habits-tracker-header {
    font-size: xxx-large;
    margin-bottom: 20px;
}

[data-state="tracked"] {
    background-color: var(--color-background-dark-2);
}

.fixed-aspect-ratio-circle {
    cursor: pointer;
}

/* Fixed aspect ratio circle trick */
.flex-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-aspect-ratio-circle::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.fixed-aspect-ratio-circle {
    width: 60%;
    border-radius: 50%;
    border: 2px solid var(--color-background-dark-2);
}

/* New habit modal */
.modal {
    --bs-modal-bg: var(--color-background-dark-1);
}

.modal-header {
    background-color: var(--color-background-dark-2);
}

.disabled {
    opacity: 0.3;
    cursor: pointer;
    pointer-events: none;
}