@keyframes removerow {
    0%, 50% {
        grid-template-rows: 1fr;
        opacity: 1;
        padding: 1rem 0 1rem 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        grid-template-rows: 0;
        padding: 0;
        opacity: 0;

    }
}

@keyframes tracking {
    0%, 100% {
        width: 3rem;
        height: 3rem;
    }

    50% {
        width: 2.7rem;
        height: 2.7rem;
    }
}

/* Não faço ideia de como descrever */
#month-week-title {
    text-align: center;
    margin-inline: auto;
    
    margin-top: -50px;
    max-width: 400px;
    
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    font-size: 30px;
    background-color: var(--body-bg);
}

.breadcrumb-item {
    align-self: center;
    font-size: x-large;
}

#week-display {
    display: flex;
    margin-top: 2rem;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.week-scroller {
    border-radius: 10px;
}

#container {
    margin: 0 auto;
    min-width: 50vw;
    max-width: 75vw;
    padding: 1rem;
}

#new-habit-button {
    cursor: pointer;
    width: 70px;
    height: 70px;
}

/* Habit tracker's grid */
.habit-tracker-row {
    display: grid;
    grid-template-columns: 2fr repeat(7, 1fr);
    text-align: center;
    vertical-align: middle;
    padding: 1rem 0 1rem 0;
    animation-play-state: paused;
    animation-name: removerow;
    animation-duration: 1.0s;
}

.habit-column {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--btn-bg);
    padding-inline: 15px;
    border-radius: 25px;
    font-size: 2rem;
}

.habit-column:hover {
    cursor: pointer;
    background-color: var(--btn-hover-bg);
    transition: all 500ms ease;
}

.habit-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 3rem;
    grid-row-start: 1;
    grid-column-start: 1;
}

.habit-column:hover > .habit-name {
    color: rgba(255, 255, 255, 0.1);
    grid-row-start: 1;
    grid-column-start: 1;
}

.hover-habit {
    display: none;
}

.habit-column:hover > .hover-habit {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-row-start: 1;
    grid-column-start: 1;
}

.habits-tracker-header {
    font-size: xxx-large;
}

[data-state="tracked"] {
    background-color: var(--tracking-unit-fill);
}

/* Fixed aspect ratio circle trick */
.tracking-unit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tracking-unit {
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--tracking-unit-border);
    
    cursor: pointer;
}

.tracking-unit-animation {
    animation-name: tracking;
    animation-duration: 150ms;
}

/* New habit modal */
.modal {
    --bs-modal-bg: var(--body-bg);
}

.modal-header {
    color: var(--color-secondary);
    background-color: var(--body-bg-contrast) !important;
}

.disabled {
    opacity: 0.3;
    cursor: pointer;
    pointer-events: none;
}

#new-habit-submit-btn, #update-habit-submit-btn {
    font-weight: 600;
}

/* Year month picker */

.btn-month {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

#year-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.year-scroller {
    border-radius: 20px;
}

#months-container {
    padding: 1rem;
}

button:has(i.bi-calendar2-plus) {
    font-size: 2.5rem;
    transition: font-size 0.2s;
}

button:has(i.bi-calendar2-plus):hover {
    font-size: 3rem;
}

#habit-toast-success .toast-body {
    border: 2px solid var(--color-secondary);
}

@media (width < 650px) {
    @keyframes tracking {
        0%, 100% {
            width: 2rem;
            height: 2rem;
        }

        50% {
            width: 1.7rem;
            height: 1.7rem;
        }
    }
    .habits-tracker-header {
        font-size: 2.5rem;
    }

    .tracking-unit {
        width: 2rem;
        height: 2rem;
    }

    .habit-column {
        font-size: 2rem;
    }
}
