.top-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    background-color: var(--nav-bg);
}

.logo {
    width: 2rem;
    height: 2rem;
}
