#month-week-title {
    text-align: center;
    margin-inline: auto;
    
    margin-top: -50px;
    max-width: 400px;
    
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    font-size: 30px;
    background-color: var(--color-background-dark-3);
}

#week-display {
    display: flex;
    margin-inline: auto;
    align-items: center;

    margin-top: 2rem;

    gap: 1rem;
}

.week-scroller {
    border-radius: 10px;
}

#habits-tracker-flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}
  
.habits-tracker-grid-container {
    flex-basis: 0;
    flex-grow: 999;
    /* border: 1px solid var(--color-background-dark-2); */
}

#check-stats-sidebar {
    flex-basis: 10rem;
    flex-grow: 1;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* border: 1px solid var(--color-background-dark-3); */
}

#check-stats-sidebar > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img[src $= "svg"] {
    width: 2rem;
    height: 2rem;
}
