<div class="modal fade" id="calendarModal" tabindex="-1" aria-labelledby="calendarModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content border">
      <div class="modal-body">
        <div id="year-container">
          <button class="year-scroller btn btn-action" data-year-scroll="previous">
            <i class="bi bi-arrow-left" style="font-size: 1rem; color: white;"></i>
          </button>
          <div id="habit-tracker-year">
            {{ year }}
          </div>
          <button class="year-scroller btn btn-action" data-year-scroll="next">
            <i class="bi bi-arrow-right" style="font-size: 1rem; color: white;"></i>
          </button>
        </div>
        <div id="months-container">
          <div class="row mb-3 gx-3">
            <div class="col-4">
              <button class="btn btn-action btn-month" data-month="1">Jan</button>
            </div>
            <div class="col-4">
              <button class="btn btn-action btn-month" data-month="2">Feb</button>
            </div>
            <div class="col-4">
              <button class="btn btn-action btn-month" data-month="3">Mar</button>
            </div>
          </div>
          <div class="row mb-3 gx-3">
            <div class="col-4">
              <button class="btn btn-action btn-month" data-month="4">Apr</button>
            </div>
            <div class="col-4">
              <button class="btn btn-action btn-month" data-month="5">May</button>
            </div>
            <div class="col-4">
              <button class="btn btn-action btn-month" data-month="6">Jun</button>
            </div>
          </div>
          <div class="row mb-3 gx-3">
            <div class="col-4">
              <button class="btn btn-action btn-month" data-month="7">Jul</button>
            </div>
            <div class="col-4">
              <button class="btn btn-action btn-month" data-month="8">Aug</button>
            </div>
            <div class="col-4">
              <button class="btn btn-action btn-month" data-month="9">Sep</button>
            </div>
          </div>
          <div class="row mb-3 gx-3">
            <div class="col-4">
              <button class="btn btn-action btn-month" data-month="10">Oct</button>
            </div>
            <div class="col-4">
              <button class="btn btn-action btn-month" data-month="11">Nov</button>
            </div>
            <div class="col-4">
              <button class="btn btn-action btn-month" data-month="12">Dec</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>