{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Habit Tracker</title>

  <link rel="stylesheet" href="{% static 'habit_tracker/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'habit_tracker/css/partials/page-landing.css' %}">
  <link rel="stylesheet" href="{% static 'habit_tracker/css/partials/habits-tracker-table.css' %}">
  
</head>
<body id="page-landing">
  <div id="container">
    
    <!-- <nav></nav> -->
    <div class="top-bar-container">
      <div>Habit Tracker Logo</div>
      <div>Profile Icon</div>
    </div>
    
    <div id="month-week-title">
      <h1>Habit Tracker</h1>
    </div>

    <div id="habits-tracker-flex-container">
      <div class="habits-tracker-grid-container">
        <div id="habits-tracker-grid">

          <div></div>
          <div class="habits-tracker-header">M</div>
          <div class="habits-tracker-header">T</div>
          <div class="habits-tracker-header">W</div>
          <div class="habits-tracker-header">T</div>
          <div class="habits-tracker-header">F</div>
          <div class="habits-tracker-header">S</div>
          <div class="habits-tracker-header">S</div>

          <div class="habit-column">
            Gym
          </div>
          <div class="flex-circle-container">
            <div class="fixed-aspect-ratio-circle"></div>
          </div>
          <div class="flex-circle-container">
            <div class="fixed-aspect-ratio-circle"></div>
          </div>
          <div class="flex-circle-container">
            <div class="fixed-aspect-ratio-circle"></div>
          </div>
          <div class="flex-circle-container">
            <div class="fixed-aspect-ratio-circle"></div>
          </div>
          <div class="flex-circle-container">
            <div class="fixed-aspect-ratio-circle"></div>
          </div>
          <div class="flex-circle-container">
            <div class="fixed-aspect-ratio-circle"></div>
          </div>
          <div class="flex-circle-container">
            <div class="fixed-aspect-ratio-circle"></div>
          </div>

          <div class="habit-column">
            <img src="{% static 'habit_tracker/images/icons/plus-square-svgrepo-com.svg' %}" alt="Add task">
          </div>
          <div class="flex-circle-container">
            <div class="fixed-aspect-ratio-circle"></div>
          </div>
          <div class="flex-circle-container">
            <div class="fixed-aspect-ratio-circle"></div>
          </div>
          <div class="flex-circle-container">
            <div class="fixed-aspect-ratio-circle"></div>
          </div>
          <div class="flex-circle-container">
            <div class="fixed-aspect-ratio-circle"></div>
          </div>
          <div class="flex-circle-container">
            <div class="fixed-aspect-ratio-circle"></div>
          </div>
          <div class="flex-circle-container">
            <div class="fixed-aspect-ratio-circle"></div>
          </div>
          <div class="flex-circle-container">
            <div class="fixed-aspect-ratio-circle"></div>
          </div>

        </div>
      </div>

      <div id="check-stats-sidebar">
        <div>
          <img src="{% static 'habit_tracker/images/icons/anchor-right-arrow-caret-svgrepo-com.svg' %}" alt="Previous week">
          <div>Check stats</div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>