{% extends "habit_tracker/layout.html" %}
{% load static %}

{% block title %}
  <title>Habit Tracker</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'habit_tracker/css/partials/index.css' %}">
{% endblock %}

{% block js %}
  <script src="{% static 'habit_tracker/js/index.js' %}"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
{% endblock %}

{% block body %}
  <main></main>
  <div id="month-week-title">
    <h1>Habit Tracker</h1>
  </div>

  <div class="d-flex justify-content-end pe-3">
    Welcome back, {{ user.first_name }}!
  </div>

  <div id="container">
    <div class="breadcrumbs-containers d-flex flex-row align-items-center gap-2 pl-2 pt-3">
      <ol class="breadcrumb ms-3 mb-0">
        <li class="breadcrumb-item">
          <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#calendarModal">
            <i class="bi bi-calendar4-week" style="font-size: x-large;" data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-title="Choose a year and a month for your calendar"></i>
          </button>
        </li>
        <li class="breadcrumb-item">{{ year }}</li>
        <li class="breadcrumb-item active" aria-current="page">{{ month | stringformat:"02d" }}</li>
      </ol>
    </div>
  
    <div id="week-display">
      <!-- Confuso? -->
      {% if week.has_previous %}
        <a href="?week={{ week.previous_page_number }}" class="week-scroller btn btn-action">
      {% else %}
        <a href="?week=1" class="week-scroller btn btn-action disabled" tabindex="-1" aria-disabled="true">
      {% endif %}
          <i class="bi bi-arrow-left"></i>
        </a>
      <div id="week-range">
        <div>
          <span data-date="{{ week.0 | date:'Y-m-d' }}">{{ week.0 | date:"d/m"}}</span>
          -
          <span data-date="{{ week | last | date:'Y-m-d' }}">{{ week | last | date:"d/m"}}</span>
        </div>
        <div style="text-align: center;">
          
        </div>
      </div>
      {% if week.has_next %}
        <a href="?week={{ week.next_page_number }}" class="week-scroller btn btn-action">
      {% else %}
        <a href="?week={{ week.paginator.num_pages }}" class="week-scroller btn btn-action disabled" tabindex="-1" aria-disabled="true">
      {% endif %}
          <i class="bi bi-arrow-right"></i>
        </a>
    </div>

    {% with 'M T W T F S S' as weekdays %}
      <div class="habit-tracker-row">
        <div></div>
        {% for day in weekdays.split %}
          <div class="habits-tracker-header">{{ day }}</div>
        {% endfor %}
      </div>
    {% endwith %}
      
    <div id="habit-row-container">
      {% for habit in habits %}
        {% include 'habit_tracker/components/habit_row.html' %}
      {% endfor %}
    </div>
        
    <div class="habit-tracker-row">
      <div id="add-new-habit-button">
        <button type="button" class="btn">
          <i class="bi bi-calendar2-plus" data-bs-toggle="modal" data-bs-target="#newHabitModal"></i>
        </button>
      </div>
      {% for _ in week %}
        <div class="tracking-unit-container">
          <div class="tracking-unit rounded-circle disabled"></div>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <!-- Modals -->
  {% include 'habit_tracker/modals/new_habit_modal.html' %}
  {% include 'habit_tracker/modals/update_habit_modal.html' %}
  {% include 'habit_tracker/modals/calendar_modal.html' %}

  <!-- Toasts -->
  {% include 'habit_tracker/toasts/success_toast.html' %}
  {% include 'habit_tracker/toasts/fail_toast.html' %}
  {% include 'habit_tracker/toasts/undo_delete_toast.html' %}

{% endblock %}
